.dark section.one-platform{
    background-color:#000000;
}
section.one-platform{
    background-color:#F6F7FC;
    padding: 6.3rem 0;
}
.heading-center {
    padding: 0 0 5rem 0;
}
.dark .heading-center h1{
    color: #ffffff;
}
.heading-center h1 {
    margin: auto;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    max-width: 40rem;
    
}
.heading-center h1 span {
    font-size: 5rem;
    color: #4540DB;
}
.main-jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-inline: 1rem;
}
.dark .job-listing{
    border:2px solid #4540DB;
}
.job-listing {
    display: flex;
    gap: 1rem;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 20%);
    border-radius: 2rem;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: flex-start;   
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.job-listing:hover{
    background-color: #4540DB;
    color: #ffffff;
}
.job-icon {
    width: 4.3rem;
}
.job-icon img {
    max-width: 100%;
    padding-top: 1rem;
}
.dark .job-title-content{
    color: #ffffff;
}
.job-title-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 18rem;
    font-weight: 400;
}

.job-title-content h3 {
    font-size: 2.3rem;
    font-weight: 400;
}
.job-title-content p {
    font-size: 1.8rem;
}

@media (max-width:340px){
    .job-listing{
        padding: 2rem 3rem;
    }
}